<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<div class="container">
		<h3>42 Coffee Cups Test Assignment</h3>
	</div>    
</head>

<body>
<div class="container">
	<div class="row">
	  <div class="col-sm-4">
	  	<p>
	  		<br />
	  		Andrii<br />
			Shchepak<br />
			01/02/1994<br />
			<br />
			<div class="form-group">
			  <label for="comment">Bio:</label>
			  <textarea class="form-control" rows="5" id="comment">Sometext</textarea>
			</div>
		</p>
	  </div>
	  <div class="col-sm-4">
	  	<p>
	  		Contacts<br />
			Email: k17pine@gmail.com<br />
			Jabber:k17pine@42cc.co<br />
			Skype:k17pine<br />
			<br />
			<div class="form-group">
			  <label for="comment">Other contacts::</label>
			  <textarea class="form-control" rows="5" id="comment">Sometext</textarea>
			</div>
		</p>
	  </div>
	</div>
</div>
</body>
</html>